.comment-avatar{
	width: 100%;
	height: auto;
}

.more-comments-button{
	margin-top: 15px;
	padding: 0px;

	.col-md-12, .col-sm-12, .col-xs-12{
		padding-left: 5px;
    	padding-right: 5px;
	}
}

.send-comment-form{
	.col-md-2, .col-sm-2, .col-xs-2,
	.col-md-8, .col-sm-8, .col-xs-8,
	.col-xs-10{
		padding-left: 5px;
    	padding-right: 5px;
	}
}

.video-comment{
	.col-md-2, .col-sm-2, .col-xs-2,
	.col-md-10, .col-sm-10, .col-xs-10{
		padding-left: 5px;
    	padding-right: 5px;
	}

	.delete-comment {
		font-size: 16px;
		color: #000000;
	    float: right;
	    font-weight: bold;
	    line-height: 1;
	    opacity: 0.2;
	    text-shadow: 0 1px 0 #FFFFFF;
	}
}

.comment-textarea{
	resize: none;
	height: 64px !important;
}

.send-comment-button{
	width: 100%;
	margin-top: 32px;
}

form .counter{
	color: #CCCCCC;
    font-size: 16px;
    position: absolute;
    right: -30px;
    top: -5px;
}

form .warning{
	color: #600;
}