.login-dropdown{
	ul{
		min-width: 368px;
	}
}

.login-register-panel {
	background-color: #FFFFFF;
}

.login-panel {
	padding: 0px 10px;
}

.login-title{
	height: 30px;
}

.recover-pass-title{
	height: 50px;
}

.register-title{
	height: 30px;
}

.login-link{
	font-family: 'Raleway',sans-serif;
	cursor: pointer;
	color: #C52348;
    text-decoration: none;
}

.login-link:hover{
	color: #841730;
    text-decoration: underline;
}

.alert-login{
	font-size: 12px;
    min-height: 34px;
    padding: 8px 0;
    text-align: center;
}

.modal-body{
	.login-register-panel{
		width: 300px;
		padding: 0px;
	}
}